In [2]:
Analysis of Variance (Anova): 

Anova is a statistical method used to compare the means of 2 or more groups.

In [ ]:
Anova

1. Fators (Variable)
2. Levels 

Ex:     Medicine (Factor)

Dosage   5mg       10mg           15mg              --- Levels



Ex2: Mode of payment (factor)

gpay    phonepe     imps neft      levels

## Assumptions in Anova

In [ ]:
If your problem statment definitely satisfies these assumptions you can definitely use anova

In [ ]:
Assumptions:

1. Normality of sampling distribution of mean (Central Limit Therorem) 
The distribution of sample mean is normally distributed

2. Absense of Outliers 
outlying score need to be removed from the dataset. 

3. Homogentity of Variance
population variance in differnet levels of each independent variable are equal. 

4. Samples are independet and random.

## Types of Anova

In [ ]:
There are 3 types of Anova

1. 1-way anova : one factor with atleast 2 levels, here levels are independent. 

Ex: Doctor wants to test a new medication to decrease headache. 

They split the medicine in 10mg,20mg,30mg

also he wanted to rate the headache from 1-10

2. Repeated Measures Anova : One factor with atleast 2 level and levels are dependent. 

Ex: Running for same person
Day1 Day2 Day3 
8      3   5  
4      5   6

3. Factorial Anova : Two or more factors each of which with atleast 2 levels, levels can be independent and dependent.  

Ex: Running for same person
Day1 Day2 Day3   Gender
8      3   5        m
4      5   6        f

## Hypothesis testing in Anova

In [ ]:
Hypothesis testing in Anova (Partitioning of Variance)

In [ ]:
1. Define null hypoythesis H0 = mean1 = mean2 = mean3 = mean4 ..........
2. Alternate hypothesis H1 = mean1 != mean2 ............ Atleast one of the sample mean is not equal

In [ ]:
Test Statistics : 

F-Test : (Variance between sample) / (Variance within sample)

In [1]:
X1 = 1,2,4,5,3
X2= 6,7,3,2,1
X3 = 5,6,3,2,4

In [2]:
X1

(1, 2, 4, 5, 3)

In [14]:
from statistics import variance,mean

In [11]:
var = variance(X1),variance(X2),variance(X3)

In [12]:
variance(var)

5.880000000000001

In [16]:
mean(X1),mean(X2), mean(X3)

(3, 3.8, 4)

In [ ]:
As means are not equal, we have to reject the null hypothesis.

In [ ]:
Ex: Doctors want to test a new medication which reduces the headache. They split the participant into 3 condition [15mg,30mg,45mg].
Later on the doctor ask the patient to rate the headache between [1-10]. Are there any difference between the 3 conditions using 
Alpha = 0.05 ? 
15mg : 9,8,7,8,8,9,8
30mg : 7,6,6,7,8,7,6
45mg : 4,3,2,3,4,3,2

In [ ]:
Ans: 
Step 1: Define Null and Alternate Hypothesis
H0 : mean15 = mean30 = mean45
H1 : not all means are equal

In [ ]:
Step 2: 
Alpha = 0.05
C.I = 0.95

In [ ]:
Step 3: Calculate Degree of Freedom 
N = 21
a = 3
n = 7
df_between_samples = a-1 = 3-1 = 2 = df1
df_within_sample = N-a = 21-3 = 18 = df2
dftotal = N-1 = 20


df1 and df2 are used along with Alpha for F-table to find out critical values

In [ ]:
Step 4: Defining Decision boundary 

Acceptance Area                   F(df1,df2)     Rejection Area(0.05)
-----------------------------------        ---------
                                CV 3.5546 (from f table)

In [ ]:
Step 5: If F value is greater than 3.556, we reject the null hypothesis. 

F-test statistics 


                 SS            df            MS          F
Between          98.67         2            49.34
Within           10.29         18           0.54
Total

In [ ]:
SS  Through formula
between = 98.67
within = 10.29

In [17]:
F = 49.34/0.54

In [18]:
F

91.37037037037037

In [ ]:
F is greater than 3.556 , hence we have to reject the null hypothesis.