In [1]:
cd

C:\Users\nitesh.sethia

In [24]:
import pandas as pd
df = pd.read_csv("Downloads\Algerian_forest_fires_dataset_UPDATE.csv")

In [25]:
df

                                                                    Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC   ISI BUI  FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6  1.3 3.4  0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6  1   3.9  0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1  0.3 2.7  0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9  0   1.7  0              not fire
...                                                                                    ...
26  09    2012 30          65  14  0     85.4 16  44.5 4.5 16.9 6.5                fire
27  09    2012 28          87  15  4.4   41.1 6.5 8    0.1 6.2  0              not fire
28  09    2012 27          87  29  0.5   45.9 3.5 7.9  0.4 3.4  0.2            not fire
29  09    2012 24          54  18  0.1   79.7 4.3 15.2 1.7 5.1  0.7            not fire
30  09    2012 24          64  15  0.2   67.3 3.8 16.5 1.2 4.8  0.5           not fire

[247 rows x 1 columns]

In [10]:
df.head()

                                                                  Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC  ISI BUI FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6 1.3 3.4 0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6 1   3.9 0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1 0.3 2.7 0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9 0   1.7 0              not fire

In [13]:
df.isnull().sum()

Bejaia Region Dataset     2
dtype: int64

In [17]:
df.duplicated().sum()

237

In [19]:
df.shape

(247, 1)

In [21]:
df = df.drop_duplicates()

In [22]:
df.shape

(10, 1)

In [26]:
df.duplicated()

day  month  year  Temperature   RH   Ws  Rain   FFMC  DMC  DC    ISI  BUI   FWI    False
01   06     2012  29           57   18   0      65.7  3.4  7.6   1.3  3.4   0.5    False
02   06     2012  29           61   13   1.3    64.4  4.1  7.6   1    3.9   0.4     True
03   06     2012  26           82   22   13.1   47.1  2.5  7.1   0.3  2.7   0.1     True
04   06     2012  25           89   13   2.5    28.6  1.3  6.9   0    1.7   0       True
                                                                                   ...
26   09     2012  30           65   14   0      85.4  16   44.5  4.5  16.9  6.5     True
27   09     2012  28           87   15   4.4    41.1  6.5  8     0.1  6.2   0       True
28   09     2012  27           87   29   0.5    45.9  3.5  7.9   0.4  3.4   0.2     True
29   09     2012  24           54   18   0.1    79.7  4.3  15.2  1.7  5.1   0.7     True
30   09     2012  24           64   15   0.2    67.3  3.8  16.5  1.2  4.8   0.5    False
Length: 247, dtype: bool

In [29]:
df.info

<bound method DataFrame.info of                                                                     Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC   ISI BUI  FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6  1.3 3.4  0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6  1   3.9  0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1  0.3 2.7  0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9  0   1.7  0              not fire
...                                                                                    ...
26  09    2012 30          65  14  0     85.4 16  44.5 4.5 16.9 6.5                fire
27  09    2012 28          87  15  4.4   41.1 6.5 8    0.1 6.2  0              not fire
28  09    2012 27          87  29  0.5   45.9 3.5 7.9  0.4 3.4  0.2            not fire
29  09    2012 24          54  18  0.1   79.7 4.3 15.2 1.7 5.1  0.7            not fire
30  09    2012 24          64  15  0.2   67.3 3.8 16.5 1.2 4.8  0.5           not fire

[247 rows x 1 columns]>

In [32]:
df[df.isnull().any(axis = 1)]

                                                                                          Bejaia Region Dataset
Sidi-Bel Abbes Region Dataset NaN NaN  NaN NaN NaN NaN NaN  NaN  NaN    NaN  NaN  NaN                        NaN
14                            07  2012 37  37  18  0.2 88.9 12.9 14.6 9 12.5 10.4 fire                       NaN

In [43]:
df.loc[:123,'Region']=1
df.loc[123:,'Region']=2
df[['Region']]= df[['Region']].astype(int)

TypeError: Slicing a positional slice with .loc is not allowed, Use .loc with labels or .iloc with positions instead.

In [44]:
df.iloc[0:123]

                                                                   Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC   ISI BUI FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6  1.3 3.4 0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6  1   3.9 0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1  0.3 2.7 0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9  0   1.7 0              not fire
...                                                                                   ...
26  09    2012 31          54  11  0     82   6   16.3 2.5 6.2 1.7            not fire
27  09    2012 31          66  11  0     85.7 8.3 24.9 4   9   4.1                fire
28  09    2012 32          47  14  0.7   77.5 7.1 8.8  1.8 6.8 0.9            not fire
29  09    2012 26          80  16  1.8   47.4 2.9 7.7  0.3 3   0.1            not fire
30  09    2012 25          78  14  1.4   45   1.9 7.5  0.2 2.4 0.1            not fire

[123 rows x 1 columns]

In [49]:
df.iloc[123:,'Region'] = 2

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices