In [3]:
import pandas as pd
import numpy as np

np.random.seed(123)

n_samples = 100
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio )
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0, n_class_1

(90, 10)

In [6]:
df = pd.DataFrame({"name" : ("nitesh","Manoj"), "age" : (29,28)})

In [7]:
df

     name  age
0  nitesh   29
1   Manoj   28

In [9]:
class_0 = pd.DataFrame({'feature_1' : np.random.normal(loc = 0 , scale = 1, size = n_class_0),
                        'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
                        'target' : [0]*n_class_0})

class_1 = pd.DataFrame({'feature_1' : np.random.normal(loc = 2, scale = 1 , size = n_class_0),
                         'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_0), 
                         'target': [1]*n_class_1})

ValueError: All arrays must be of the same length

In [10]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [11]:
class_0

    feature_1  feature_2  target
0    0.874080   0.935988       0
1    0.409355   0.380219       0
2    0.771847  -1.415519       0
3   -1.142952   1.629611       0
4   -0.383416   1.052401       0
..        ...        ...     ...
85   1.266429   0.238761       0
86   0.495181  -1.106386       0
87  -0.514240   0.366732       0
88  -0.220292   1.023906       0
89   1.861564  -0.210056       0

[90 rows x 3 columns]