In [36]:
class person:
    def __init__ (self,name,age,gender):
        self.name = name
        self.age  = age
        self.gender = gender
    def print_test(self,education):
        return self.name,self.age,self.gender,education
    #def print_test2

In [37]:
test_obj = person("nitesh",29,"Male")

In [38]:
test_obj.age

29

In [39]:
X = test_obj.print_test("graduate")
X

('nitesh', 29, 'Male', 'graduate')

In [13]:
### Q2

In [40]:
class rectangle:
    def __init__(self,width,height):
        self.width = width
        self.height  = height
    def area_test(self):
        area = self.width * self.height
        return area

In [42]:
test_rec = rectangle(20,40)

In [43]:
test_rec.area_test()

800

In [44]:
### Q3

In [149]:
class  BankAccount:
    def __init__(self,balance,interest_rate):
        self.balance = balance
        self.interest_rate = interest_rate
    def deposit(self,amount):
        self.balance = amount+self.balance
    def withdraw(self,amountw):
        if amountw > self.balance:
            print("can't withdraw the asked as balance is not sufficient")
        else: 
            self.balance = self.balance - amountw
    def interest_rate(self):
        #print("add the month")
        self.interest_rate = self.interest_rate*self.balance/100
        #self.balance = self.balance + ((self.balance * (self.interest_rate * month)) / 1200)
    def balance_enquiry(self):
        return self.balance

In [150]:
account1 = BankAccount(1000,12)

In [151]:
account1.balance

1000

In [152]:
account1.balance_enquiry()

1000

In [153]:
account1.deposit(500)

In [154]:
account1.balance_enquiry()

1500

In [155]:
account1.withdraw(600)

In [156]:
account1.balance_enquiry()

900

In [158]:
account1.interest_rate(10)

TypeError: 'int' object is not callable

In [110]:
account1.balance

900

In [120]:
class BankAccount:
    # Constructor method to initialize the balance and interest_rate properties
    def __init__(self, balance, interest_rate):
        self.balance = balance
        self.interest_rate = interest_rate
    
    # Method to deposit money into the account
    def deposit(self, amount):
        self.balance += amount
    
    # Method to withdraw money from the account
    def withdraw(self, amount):
        self.balance -= amount
    
    # Method to calculate the interest earned on the balance
    def calculate_interest(self):
        return self.balance * self.interest_rate / 100

# Create an object of the BankAccount class
account1 = BankAccount(1000, 1.5)

# Test out the deposit and withdraw methods
account1.deposit(500)
account1.withdraw(200)

# Test out the calculate_interest method
interest_earned = account1.calculate_interest()

# Print out the balance and interest earned on the account
print("Balance:", account1.balance)
print("Interest earned:", interest_earned)

Balance: 1300
Interest earned: 19.5

In [159]:
#### Q4

In [240]:
class Animal:
    def __init__(self,name,species):
        self.name = name
        self.species = species
class Dog(Animal):
    def __init__(self,breed,owner,name,species):
        self.breed = breed
        self.owner = owner
        super().__init__(name,species)

In [241]:
dog_test = Animal("mickey","golden_retreiver")

In [242]:
dog_test = Dog('alsessian',"nitesh","mickey","golden_retreiver")

In [233]:
dog_test.

'alsessian'

In [245]:
    dog_test.species

'golden_retreiver'

In [174]:
class Parent():
    def __init__(self):
        self.myvar = 1

class Child(Parent):
    def __init__(self):
        Parent.__init__(self)

        # here you can access myvar like below.
        print (self.myvar)

child = Child()
print(child.myvar)

1
1